/* This is the css for my DIGIT 110 website */
html, body {
	height: 100%;
    font-family: "Verdana", sans-serif;
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: rgba(255, 248, 248, 0.7);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2); 
    text-align: center;
    margin: auto;
    width: 100%;
}
.navbar a {
    float: left;
    font-size: 1.2rem;
    color: rgb(15, 57, 72);
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.subnav {
    float: left;
    overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 1.2rem;  
  letter-spacing: 2px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: rgb(15, 57, 72);
  padding: 1rem 2rem;
  background-color: inherit;
  font-family: inherit;
}
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgba(28, 32, 37, 0.3);
    transition: all ease 0.3s;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(28, 32, 37, 0.3);
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.subnav:hover .subnav-content {
  display: block;
}
.navbar img{
    margin: auto;
    width:70%;
}
.navbar a.icon{
    display: none;
}
@media screen and (max-width: 820px){
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      font-size: 1rem;
    }
}
@media screen and (max-width: 820px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar a{
        font-size: 1rem;
        float: left;
        background-color: rgba(109, 106, 106, 0.7);
        color: #fff;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .subnav{
        float: none;
        display: block;
        text-align: left;
    }
}


.titles{
    font-family: 'ChopinScript';
    color: rgb(35, 2, 0);
    margin: 0 auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    position: relative;
    top: 10%;
    background-color: rgba(255, 248, 248, 0.7);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: -1;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin: auto;
}
#home-page{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.background-img img{
    z-index: -2;
    position:fixed;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 25%;
}
@media screen and (max-width: 820px){
    .titles{
        margin: 1rem;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        display: block;
        text-align: center;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
}
div.column img {
    width: 100%;
    height: auto;
}
 
div.desc {
    padding: 15px;
    text-align: center;
}  
* {
    box-sizing: border-box;
} 
.responsive {
    padding: 0 6px;
    float: left;
    width: 33.333333%;
    padding: 20px;
}  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
} 
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*About us Styling*/
@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-size: 3rem;
  color: rgb(35, 2, 0);
  margin-bottom: 30px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 20px 20px;
  background: #fff;
  padding: 15px 20px;
  border-radius:15px;
  border: 1px solid black;
}

.our_team .team_member .member_img{  
  max-width: 190px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 5px 0px;
  position: relative;
  cursor: pointer;
  border: 2px rgb(0, 53, 128);
}
.member_img{
    border-radius: 50%;
}
.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 15px 0 10px;
}

.our_team .team_member span{
  font-size: 16px;
}

.our_team .team_member p{
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}
.bottom{
    background-color: rgba(255, 248, 248, 0.7);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 80%;
    margin: auto;
}
.bottom h2{
    padding: 0;
    font-size: 2rem;
}
.texts{
    font-size: 1rem;
}

